.catagory-main-section{
    display: flex;
    flex-direction: column;
    row-gap: 1rem;
    margin: 2rem;
}

.catagory-section{
    display: grid;
    grid-template-columns: repeat(6,1fr);
    /* margin: 0rem 2rem; */
}

.catagory-box{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: .5rem;
}

.img-section{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.img-section img{
    width: 50%;
}

/* for mobile response */

@media (max-width: 431px){

.catagory-main-section{
    display: flex;
    flex-direction: column;
    row-gap: 1rem;
    margin: 2rem 1rem;
}
.catagory-section{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    /* margin: 0rem 2rem; */
}

.catagory-box{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: .5rem;
    row-gap: .5rem;
}

.img-section img{
    width: 100%;
}

.img-name{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-size: 1.3rem;
}

}